@media (max-width: 768px) {
   .portfolio__item {
        max-width: calc(48% - 12px);
    }
}

@media (max-width: 575px) {
    .portfolio-list{
        grid-template-columns: 1fr ;
    }
    .portfolio__item {
         max-width: calc(100% - 12px);
        
    }
}