.footer{
    // min-height: 459px;
    background-color: #1d1d1d;
    padding-top: 50px;

    &-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.contacts{
    width: 255px;
    margin-right: 46px;
    &__title{
        color: #6c6c6c;
        @include ff;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    &_text{
        color: #cacaca;
        @include ff;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 33px;
    }

    &__list{
        margin-bottom: 74px;
        padding-left: 15px;
    }

    &__item{
        color: #cacaca;
        @include ff;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        position: relative;
        &:nth-child(1){
            &::before{
                content: '';
                display: block;
                width: 9px;
                height: 13px;
                background-image: url(../img/location.svg);
                position: absolute;
                left: -15px;
                top: 6px;
            }
        }
        &:nth-child(2){
            &::before{
                content: '';
                display: block;
                width: 10px;
                height: 11px;
                background-image: url(../img/phone.svg);
                position: absolute;
                left: -15px;
                top: 6px;
            }
            
        }
        &:nth-child(3){
             &::before{
                content: '';
                display: block;
                width: 12px;
                height: 8px;
                background-image: url(../img/mail.svg);
                position: absolute;
                left: -15px;
                top: 9px;
            }
            
        }
    }
}


.twitter{
    width: 182px;
    margin-right: 57px;
    &__title{
        color: #6c6c6c;
        @include ff;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__item{
        color: #cacaca;
        @include ff;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 21px;
        padding-left: 12px;
        position: relative;
        &::before{
                content: '';
                display: block;
                width: 13px;
                height: 11px;
                background-image: url(../img/twitter-icon.svg);
                background-repeat: no-repeat;
                position: absolute;
                left: -15px;
                top: 7px;
                color: #a89574;
            }
    }

}

.popular-posts{
    width: 206px;   

    &__title{
        color: #6c6c6c;
        @include ff;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    .posts__item{
        color: #cacaca;
        @include ff;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 26px;
        p{
            margin-bottom: 11px;
            a{
                color: inherit;
                text-decoration: none;
            }
        }
        &:last-child{
            margin-bottom: 0;
        }

    }

}

.about{
    width: 247px;

    &__title{
        color: #6c6c6c;
        @include ff;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    &__text{
        color: #cacaca;
        @include ff;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 35px;
        
    }
}

.footer-copyright{
    line-height: 112px;
    border-top: 2px solid rgba( #ffffff, 0.11);

    .footer__text{
        color: #cacaca;
        @include ff;
        font-size: 14px;
        font-weight: 400;
    }
}
