$ff-reg: 'LotoRegular', sans-serif;
$ff-bold: 'LotoBold', sans-serif;
$ff-play: 'PlayfairDisplay', sans-serif;

$white: #ffffff;
$black: #000000;
$text: #393939;
$color-btn: #f09d66;

html{
	width: 100%;
	overflow-x: hidden;
}

body{
	font-family: $ff-reg;
	font-size: 14px;
	line-height: 1.6;
	overflow-x: hidden;
}
*{
	box-sizing: border-box;
}
ul>li{
	list-style-type: none;
}

.container{
	max-width: 1290px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

a{
	text-decoration: none;
}

.btn{
	width: 189px;
	height: 53px;
	margin-left: 40px;
	background-color: #f09d66;
	color: #ffffff;
	font-family: $ff-bold;
	font-size: 24px;
	line-height: 53px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	&:hover{
		background-color: darken(#f09d66, 10%);
	}
}
