@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/LatoBold.woff2') format('woff2'),
        url('../fonts/LatoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/LatoRegular.woff2') format('woff2'),
        url('../fonts/LatoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}



