.header{
    width: 100%;
}

.header-top{
    min-height: 38px;
    background-color: #f2f2f2;
    &-wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: $text;
    }

    .call-block{
        padding-top: 7px;
        display: inline-block;
        vertical-align: top;
        &__phone{
            margin-left: 5px;
            font-family: ff-reg;
            font-size: 11px;
            line-height: 17.29px;
            color: $text;
            i{
                margin-right: 19px;
            }
        }
    }


    .user-wrap{
        .user-menu{
                display: flex;
            &__link{
                padding-left: 56px;
                padding: 0 35px;
                border-right: 2px solid $text;
                font-family: $ff-reg;
                font-size: 11px;
                line-height: 18px;
                text-transform: uppercase;
                a{
                    color: $text;
                    &:hover{
                        color: $color-btn;
                    }
                }
                &:last-child{
                    border:none;
                }

            }
        }

    }
}

.header-bottom{
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    &::before{
        content: '';
        width: 400px;
        height: 60px;
        position: absolute;
        bottom: -46%;
        left: 460px;
        text-align: center;
        background: url(../img/rectangle.png) no-repeat;
        z-index: 1000;
    }


    .nav{
        &-wrap{
            display: flex;

            padding: 0;


            &__link{
                margin-right: 27px;
                font-family: $ff-play;
                font-size: 18px;
                font-style: italic;
                line-height: 17.69px;
                a{
                   color: $black;
                   &:hover{
                       color: $color-btn;
                   }
                }
            }
        }
    }
    .logo{
        margin-left: 135px;
    }

    .social{
        margin-left: 10px;
        &-item{
            margin-left: 15px;
            display: inline-block;
            width: 31px;
            height: 30px;
            background-color: $white;
            border: 1px solid $color-btn;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            &:hover{
                border: 1px solid $white;
                color: $color-btn;
                background-color: $color-btn;

                i{
                    color: $white;
                    background-color: $color-btn;
                }
            }

            i{
                color: $color-btn;
                font-size: 14px;
                &:hover{
                    color: $white;
                    background-color: $color-btn;
                }
            }
        }
    }
    .currency{
        width: 100px;
        height: 37px;
        padding: 7px 13px;
        border: 1px solid #fffcfc;
        text-align: canter;
        background-color: $black;

        &-item{
            color: #ffffff;
            font-family: $ff-bold;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            i{
                display: inline-block;
                margin-left: 12px;
                width: 8px;
                height: 4px;
                color: #ffffff;
                font-size: 11px;
            }
        }
    }
}


/* Slideshow container */
.slideshow-container {
  max-width: 1440px;
  max-height: 692px;
  position: relative;
  margin: auto;
}
.slider-controls{
    position: absolute;
    bottom: 35px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}
/* Hide the images by default */
.mySlides {
    display: none;
    position: relative;
}
.slide-content{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.sale{
    position: relative;
    width: 273px;
    height: 240px;
    padding: 6px 9px 9px 6px;
    margin-bottom: 50px;
    text-align: center;
    border: 2px solid $white;
    &-overlay{
        position: absolute;
        top: 6px;
        bottom: 9px;
        left: 6px;
        right: 6px;
        padding: 15px 0;
        border: 1px solid $white;
    }
    &-sisson{
        font-family: $ff-bold;
        font-size: 19px;
        text-transform: uppercase;
        color: $white;
    }
    &-title{
        font-family: $ff-bold;
        font-size: 59px;
        text-transform: uppercase;
        color: $black;

    }
    &-up{
        font-family: $ff-bold;
        font-size: 20px;
        text-transform: uppercase;
        color: #ffffff;
        display: block;
        &::before{
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 61px;
            height: 10px;
            background: url(../img/left-line.png) no-repeat;
            margin-right: 12px;
        }
        &::after{
            content: "";
            display: inline-block;
            vertical-align:middle;
            width: 61px;
            height: 10px;
            background: url(../img/right-line.png) no-repeat;
            margin-left: 12px;
        }
    }
    &-percent{
        font-family: $ff-bold;
        font-size: 31px;
        text-transform: uppercase;
        color: $black;
        span{
            font-size: 23px;
        }
    }
}


/* The diamond on slider */
.diamond {
    display: inline-block;
    margin: 0 3px;
    margin-right: 9px;
    background:#b2b2b2;
    vertical-align: top;
    cursor: pointer;
    width: 19px;
    height: 19px;
    background: #b2b2b2;
    transition: background-color 0.6s ease;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.active, .diamond:hover {
  background-color: $black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media (max-width: 1030px) {
    .header-bottom  {
        .logo{
            margin-left: 15px;
        }
    }

    .header-bottom::before{
        display: none;
    }
}

@media (max-width: 1018px){
        .header-top-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .header-bottom  {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0;
        .social{
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .currency-item{
            margin-top: 5px;
        }
    }
    .sale{
        display: none;
        .sale-overlay{
            display: none;
        }
    }

}

@media (max-width: 910px){
        .btn{
            margin-bottom: 40px;
        }

        .call-block{
            display: block;
            text-align: center;
        }

}

@media (max-width: 575px){
        .user-menu{
            padding: 0;
            margin: 0;
        }
        .user-wrap{
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
        }
        .header-top .user-wrap .user-menu__link{
            padding: 2% 5%;
            text-align: center;
        }

}

@media (max-width: 320px){
    .user-menu{
        padding: 0;
        margin: 0;
    }
        .user-wrap{
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
        }
        .header-bottom{
            padding-top: 15px;

            .nav{
                width: 100%;
            }
            .social{
                margin-bottom: 20px;
            }
            .nav-wrap__link{
                margin-right: 0;
                margin-left: 5%;
            }
        }

        .header-top .user-wrap .user-menu__link{
            padding: 0;
            padding-left: 10px;
        }
        .btn{
            margin: 0 auto;
        }

}
