@media (max-width: 1200px) {
    .container {
        max-width: 1170px
    }
    .header-info {
        .content {
            width: 48.88888%;
            overflow: hidden;
            h1 {
                font-size: 42px;
            }
            .content-text p {
                font-size: 14px;
            }
        }
        .video {
            width: 48.88888%;
            margin: 0;
        }
    }
    // services
    .services{


        .list{
            flex-wrap: nowrap;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 960px
    }
    .header-info {
        .content {
            width: 48.88888%;
            min-height: 400px;
            overflow: hidden;
            h1 {
                font-size: 38px;
            }
            .content-text p {
                font-size: 14px;
            }
        }
        .video {
            width: 48.88888%;
            margin: 0;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px
    }
    .header-info {
        flex-direction: column;
        align-items: center;
        width: 100%;
        .content {
            width: 75%;
            overflow: hidden;
            margin-bottom: 20px;
            h1 {
                font-size: 25px;
            }
            .content-text p {
                font-size: 11px;
            }
        }
        .video {
            width: 75%;

        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 540px
    }

    .header-top{
        .user-menu{
            text-align: center;
            &__link{
                padding: 0;
            }
        }

    }
    .header-info {
        .content {
            width: 100%;
            overflow: hidden;
            h1 {
                font-size: 25px;
            }
            .content-text p {
                font-size: 14px;
            }
            .btn{
                display: block;
                width: 100%;
            }
        }
        .video {
            width: 100%;

        }
    }
    .header-bottom{
        .nav{
            width: 100%;
        }
    }
}


@media (max-width: 320px) {
    .container {
        max-width: 320px
    }

    .header-top{
        .user-menu{
            text-align: center;
            &__link{
                padding: 0;
            }
        }

    }
    .header-info {
        .content {
            width: 100%;
            overflow: hidden;
            h1 {
                font-size: 25px;
            }
            .content-text p {
                font-size: 14px;
            }
            .btn{
                display: block;
                width: 100%;
            }
        }
        .video {
            width: 100%;

        }
    }
    .header-bottom{
        .nav{
            width: 100%;
        }
    }
}
