body{
	font-family: 'roboto-regular';
	font-size: 1rem;
	line-height: 1.2;
}

*,ul,li{
	list-style: none;
}

html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

ul,
ol{
	list-style-type: none;
}

// .button{
// 	display: inline-block;
// 	border-radius: 3px;
// 	padding: 10px 22px 7px;
// 	text-decoration: none;
// 	color: #fff;

// 	&-red{
// 		background: #de2b24;
// 		transform: 0.3s;


// 		&:hover{
// 			background: lighten(#de2b24, 7%);
// 		}
// 	}

	
// 	&-yellow{
// 		background: #f8cd53;


		// &:hover{
		// 	background: lighten(#f8cd53, 7%);
		// }
// 	}

// 	&-upper{
// 		text-transform: uppercase;
// 	}
// }


