@font-face {
	font-family: 'roboto-bold';
	src: url('../fonts/RobotoBold.woff') format('woff'),
	url('../fonts/RobotoBold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'roboto-regular';
	src: url('../fonts/RobotoRegular.woff') format('woff'),
	url('../fonts/RobotoRegular.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'roboto-light';
	src: url('../fonts/RobotoLight.woff') format('woff'),
	url('../fonts/RobotoLight.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}